/*footer*/
@import "../../config";

.footer-render {
  footer {
    background: #373D41;
    width: 100%;
    border-top: #00C1DE 10px solid;
    padding: 30px 0;
    color: #73777a;
    font-size: 14px;
    a {
      color: #73777a;
      &:hover {
        color: #00C1DE
      }
    }
  }

  .wx-box {
    overflow: hidden;
    float: left;
    margin-right: 20px;
    li {
      float: left;
      margin: 0 10px;
      text-align: center
    }
    img {
      height: 100px;
    }
  }

  .end-nav {
    b {
      font-size: 16px;
      color: #00c1de;
    }
    p {
      margin-bottom: 5px
    }
  }

  .footer-social {
    ul {
      display: block;
      list-style: none;
      li {
        display: inline-block;
        float: left;
        width: max-content;
        margin-right: 10px;
        a {
          color: #9dceff;
          &:hover {
            color: @cl_blue;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer-render {
    .box, article {
      width: 96%;
    }
    .wx-box {
      float: none;
      ul {
        overflow: hidden;
        text-align: center;
        li {
          float: none;
          display: inline-block;
        }
      }
    }
    .end-nav {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
      p {
        margin: 0 10px;
      }
    }
  }
}